<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcset.platform.server.dao.db.UUGLinkMapper">
    <resultMap id="BaseResultMap" type="com.zcset.platform.server.entity.db.UUGLinkDB">
        <id column="UUGID" jdbcType="DECIMAL" property="uugId"/>
        <result column="USERID" jdbcType="DECIMAL" property="userId"/>
        <result column="USERGROUPID" jdbcType="DECIMAL" property="userGroupId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    UUGID, USERID, USERGROUPID
  </sql>
    <select id="selectByExample" parameterType="com.zcset.platform.server.entity.db.UUGLinkExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from USERUSERGROUPTABLE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from USERUSERGROUPTABLE
        where UUGID = #{uugId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from USERUSERGROUPTABLE
    where UUGID = #{uugId,jdbcType=DECIMAL}
  </delete>
    <delete id="deleteByExample" parameterType="com.zcset.platform.server.entity.db.UUGLinkExample">
        delete from USERUSERGROUPTABLE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zcset.platform.server.entity.db.UUGLinkDB">
    insert into USERUSERGROUPTABLE (UUGID, USERID, USERGROUPID
      )
    values (#{uugId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{userGroupId,jdbcType=DECIMAL}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zcset.platform.server.entity.db.UUGLinkDB">
        insert into USERUSERGROUPTABLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uugId != null">
                UUGID,
            </if>
            <if test="userId != null">
                USERID,
            </if>
            <if test="userGroupId != null">
                USERGROUPID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uugId != null">
                #{uugId,jdbcType=DECIMAL},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=DECIMAL},
            </if>
            <if test="userGroupId != null">
                #{userGroupId,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zcset.platform.server.entity.db.UUGLinkExample"
            resultType="java.lang.Long">
        select count(*) from USERUSERGROUPTABLE
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update USERUSERGROUPTABLE
        <set>
            <if test="record.uugId != null">
                UUGID = #{record.uugId,jdbcType=DECIMAL},
            </if>
            <if test="record.userId != null">
                USERID = #{record.userId,jdbcType=DECIMAL},
            </if>
            <if test="record.userGroupId != null">
                USERGROUPID = #{record.userGroupId,jdbcType=DECIMAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update USERUSERGROUPTABLE
        set UUGID = #{record.uugId,jdbcType=DECIMAL},
        USERID = #{record.userId,jdbcType=DECIMAL},
        USERGROUPID = #{record.userGroupId,jdbcType=DECIMAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zcset.platform.server.entity.db.UUGLinkDB">
        update USERUSERGROUPTABLE
        <set>
            <if test="userId != null">
                USERID = #{userId,jdbcType=DECIMAL},
            </if>
            <if test="userGroupId != null">
                USERGROUPID = #{userGroupId,jdbcType=DECIMAL},
            </if>
        </set>
        where UUGID = #{uugId,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zcset.platform.server.entity.db.UUGLinkDB">
    update USERUSERGROUPTABLE
    set USERID = #{userId,jdbcType=DECIMAL},
      USERGROUPID = #{userGroupId,jdbcType=DECIMAL}
    where UUGID = #{uugId,jdbcType=DECIMAL}
  </update>
</mapper>